*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Samurai;
    src: url(../font/end_game.otf);
}

html{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><foreignObject width="100%" height="100%"><div xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;border-radius:50%;background:conic-gradient(from 90deg at 4px 4px,%230000 90deg, %23ff0000 0) -4px -4px/calc(50% + 2px) calc(50% + 2px),repeating-radial-gradient(%230000 0 22%,%23ff0000 23% 32%);" ></div></foreignObject></svg>')  24 24, auto;
}

body{
    background: url(../imagens/teste.png);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-gorro{
    width: 60px;
}

#hud{
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}


#score{
    font-family: Samurai;
    font-size: 28px;
    color: white;
}
